<form (ngSubmit) = "onSubmit()">
  <div class="form-group">
    <label for="name">Character name</label>
    <input type="text" id="name" name="name" class = "form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="side" > Chose Side</label>
    <select name="side" id = "side" class = "form-control" ngModel>
      <option *ngFor="let option of availableSides" [value] = "option.value">
        {{option.display}}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type = "submit">Add Character</button>
</form>
